*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #c8ccce;
}

h1, li, a{
    font-family: Arial, Helvetica, "Helvetica Neue", "sans-serif";
    text-align: center;
}

h1{
    color: #1b1b1c;
    font-size: 3rem;
    font-weight: 700;
    margin: 10% 0 5% 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #3162e0;
    font-size: 1rem;
    font-weight: 700;
    line-height: 2rem;
}

a:hover{
    color: #68cef9;
}