/* CSS DOCUMENT */

/* Resetando a margem e espaço de preenchimento para zero, para não ter nenhum espaço indesejado e você pode controlá-los nos elementos */
*{
    margin: 0;
    padding: 0;
}

/* Definindo um padrão para todos os elementos de texto */
h1, h2, p, a, label {
    font-family: Arial, Helvetica, 'Helvetica Neue', sans-serif; /* Definindo para o navegador redenrizar uma das fontes */
}

a{
    color: #0a68ff;
}

a:hover{ /* Muda a cor se passar o mouse em cima do link */
    color: #adcdff;
}

a:active{ /* Muda a cor ao clicar no link */
    color: #0b2247;
}

/* Início da estilização do cabeçalho principal */
header{
    background-color: #fff;
    height: 100px; /* Definindo a altura do cabeçalho */
    width: 100%; /* Definindo a largura do cabeçalho */
    padding: 2% 0; /* Definido um espaço de preenchimento dentro do cabeçalho */
}

header h1{ /* Estilizando o elemento h1, que é o título dentro do cabeçalho */
    font-size: 48px; /* Definindo o tamanho da fonte */
    color: #2d2929;
    margin-bottom: 1%; /* Definindo um espaço de 1% do lado de baixo fora do elemento */
}

header h1, header p{
    margin-left: 4%; /* Definindo um espaço de 4% do lado esquerdo fora do elemento */
}
/* Fim da estilização do cabeçalho principal */

article.principal{
    background-color: #d63141 !important; /* Definido a cor de fundo como vermelho claro */
    padding: 1% 5%;
    margin: 0;
    border-radius: 0px; /* Arredonda as pontas */
}

article{
    padding: 5%;
    margin: 5% 0;
    background-color: #fff;
    border-radius: 25px;
}

article h2{
    margin-bottom: 2%;
    text-transform: uppercase; /* Transforma o texto em caixa alta */
    text-align: center; /* Centraliza o texto */
}

article p.primeira{
    font-size: 24px;
    font-weight: bold;
    margin-left: 1.25rem; /* Utilizado a unidade de media REM */
}

article p.texto{
    text-align: justify; /* Deixa o texto justificado */
    margin: 1.5rem 0;
}

article p.primeira, article p.texto{ /* A estilização será feita no dois elementos */
    display: inline; /* Deixa os elementos na mesma linha */
}

article video{
    position: relative; /* A posição relativa utilizará seu canto esquerdo superior, para referenciar sua posição */
    left: 25%; /* Definido que a posição do elemento será afastado em 25% do ponto de referência que é 0, para que ele seja exibido no ponto desejado */
    width: 50%; /* Largura em 50% */
    margin-top: 0;
}

article audio{
    position: relative;
    left: 35%;
    width: 30%;
}

article p.fonte{
    text-align: center !important;
    font-weight: 700; /* Definido que a espessura da fonte será em negrito */
}

article p.fonte a{
    text-decoration: none; /* Definido que não deve haver sublinhado no texto */
    font-weight: 300; /* Definido que a espessura da fonte será normal */
}

article button{
    position: relative;
    left: 24%;
    display: inline;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 5px;
    padding: 1%;
}

article form{
    margin: 0 33%;
}

article form label{
    font-weight: 700;
}

article form input, article form select, article form radio{
    display: block;
    margin-bottom: 5%;
}

article form input#numero{
    width: 40%;
}

article form input#masculino, article form input#feminino, article form p{
    display: inline;
}

article form select#hobby{
    width: 50%;
    height: 100px;
    padding: 3% 4%;
}

article form button{
    position: relative;
    left: 32%;
    margin: 6% 2% 0 2%;
}

footer{
    padding: 2%;
    font-weight: 700;
    text-align: center;
}

footer a{
    text-decoration: none;
}