/* CSS DOCUMENT */

/* Resetando a margem e espaço de preenchimento para zero */
*{
    margin: 0;
    padding: 0;
}

/* Estilzando o corpo da página */
body{
    background-color: #169939; /* Definindo cor de fundo do menu como verde */
}

/* Definindo um padrão para todos os elementos de texto */
h1, p{
    font-family: Arial, Helvetica, 'Helvetica Neue', sans-serif; /* Definindo para o navegador redenrizar uma das fontes */
    text-align: center; /* Definido para o centro ficar centralizado dentro do menu */
    margin: 2% 0; /* Definindo um espaço de 2% do lado de cima e baixo e 0 para lado direito e esquerdo fora do elemento */
}

/* Estilizando um elemento de lista */
ul{
    background-color: #fff; /* Definindo cor de fundo do menu como branco */
    width: 100%; /* Definindo a largura do cabeçalho */
    list-style: none; /* Removido a marcação de bolinha ao lado esquerdo de cada item da lista */
    padding: 2% 0; /* Definindo um espaço de 2% do lado de cima e baixo e 0 para lado direito e esquerdo dentro do elemento */
}

/* Estilizando itens da lista */
ul li{
    display: inline; /* Definindo que os items da lista fiquem na mesma linha */
}

/* Estilizando os links dentro dos itens da lista */
ul li a{
    font-family: Arial, Helvetica, 'Helvetica Neue', sans-serif;
    font-size: 18px; /* Definindo tamanho da fonte */
    font-weight: 700; /* Definindo fonte com espessura de 700, como bold */
    text-decoration: none; /* Removido o sublinhado dos links */
    color: #000;
    margin: 0 6%;
}

/* Estilizando os links quando a pessoa passar o mouse */
ul li a:hover{
    color: #1846a0;
}

h1{
    font-size: 72px;
}

address{
    text-align: center;
}