/* CSS DOCUMENT */

*{ /* Opção para resetar o CSS */
  padding: 0; /* Deixa sem espaçomento dentro dos elemento */
  margin: 0; /* Deixa sem espaçomento fora dos elemento */
}

h1, h2, p, a, img{
  font-family: Helvetica, Arial, 'Helvetica Neue', sans-serif; /* Define o tipo de fonte que será apresentada pelo navegador que estiver no computador do usuário */
}

a{
  text-decoration: none; /* Tira o sublinhado dos links */
}

body{
  background-color: #23af46; /* Altera a cor de fundo */
}

/* Início do cabeçalho */
header{
  background-color: #23af46;
  color: #fff; /* Muda a cor das fontes */
  padding: 3% 0 3% 4%; /* Espaçamento dentro do cabeçalho */
}

header h1{
  font-size: 48px; /* Aumenta o tamanho da fonte */
  font-weight: 700; /* Deixa o texto em negrito */
  color: #f2f2f2;
}

header p{
  font-style: italic; /* Altera o estilo da fonte para itálico */
}
/* Fim do cabeçalho */

/* Início do menu */
nav{
  background-color: #fff;
  width: 100%; /* Aumenta a largura */
  padding: 1.95% 0;
}

nav ul{
  list-style: none; /* Tira os pontos de cada item da lista */
}

nav ul li{
  display: inline; /* Deixa os itens da lista na mesma linha */
  background-color: #232323;
  padding: 2% 4%;
}

nav ul li:last-child{ /* Altera o último item da lista */
  padding: 2% 5.279%;
}

nav ul li:hover{
  background-color: #23af46; /* Altera a cor do item ao passar o mouse em cima */
}

nav ul li:visited{
  background-color: #2907ed; /* Altera a cor do item se já foi clicado antes */
}

nav ul li a{
  color: #fff;
  font-weight: 700;
}
/* Fim do menu */

/* Conteúdo e parte do lado na mesma linha */
/*----aside, main{
  display: inline-block;
}*/

aside, article{
  border-radius: 25px; /* Deixa as bordas redondas */
}

/* Início do parte do lado */
aside{
  float: right; /* Joga o elemento para o lado direito */
  background-color: #fff;
  width: 15%;
  margin: 5%;
  padding: 5%;
}

aside h2{
  color: #1f1f21;
  font-weight: 700;
  margin-bottom: 5%; /* Define a margem de fora do elemento, apenas em baixo */
  text-align: center; /* Centraliza o texto */
}

aside img{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  border: 10px solid #e2e2e2; /* Cria uma borda solida com 10 pixels */
  border-radius: 30px;
}

aside p{
  margin-top: 5%;
  margin-bottom: 20%;
  text-indent: 1.25rem; /* Recuo da primeira linha do parágrafo */
  text-align: justify; /* Deixa o texto justificado */
}
/* Fim do parte do lado */

/* Início do artigo */
main{
  width: 55%;
  margin: 5% 5% 3% 5%;
}

article{
  background-color: #fff;
  padding: 10%;
  margin-bottom: 5%;
}

article h1{
  color: #1f1f21;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 2%;
}

article img{
  width: 100%;
  border: 10px solid #e2e2e2;
  border-radius: 30px;
}

article p{
  margin-top: 2%;
  line-height: 1.5rem; /* Espaçamento entre as linhas do parágrafo */
  text-indent: 1.25rem;
}
/* Fim do artigo */

/* Início do rodapé */
footer{
  background-color: #232323;
  padding: 3%;
}

footer p, footer p a{
  font-weight: 700;
  text-align: center;
  color: #fff;
}

footer a:hover{
  color: #23af46;
}

footer a:visited{ /* se o link já foi clicado antes, muda a cor ao carregar a página novamente */
  color: #2907ed;
}
/* Fim do rodapé */
